/*
 * SaaS Makers - Web
 *
 * Copyright 2023, SaaS Makers
 * Author: Valerian Saliou https://valeriansaliou.name/
 */

/* *************************************************************************
 * VARIABLES > COLORS
 * **************************************************************************/

// Black

$color-black: #000000;

// White

$color-white: #ffffff;

// Bases

$color-base-black-light: #3b4554;
$color-base-black-normal: #1f2630;
$color-base-blue-ultra-light: #f5f7fb;
$color-base-purple-light: #581fe8;
$color-base-purple-normal: #4525a0;
$color-base-white-normal: #ffffff;
$color-base-red-normal: #d71313;

// Backgrounds

$color-background-white: #ffffff;

// Texts

$color-text-black: #080808;
$color-text-grey: #3b4554;
$color-text-white: #ffffff;

// Fields

$color-field-placeholder: rgba(#0f1720, 0.5);

// Platforms

$color-platform-discord: #4453e4;
$color-platform-youtube: #d71313;
